<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="date=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="email=no">
    <title>Email</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body style="margin:0;padding:0;display:block;width:100%;-webkit-text-size-adjust:none;">
    <table style="width:100%;background-color:#F4F4F4;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="center">
                    <table style="width:600px;" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table style="width:540px;" width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:15px;padding-right:15px;" align="center">
                                                    <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="width:540px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="25">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td align="left" style="font-family:'Josefin Sans', Arial, Helvetica, sans-serif; font-size:21px; color:#282828;">
                                                                                                    <a href="return_label.html" style="color:#282828; text-decoration:none;">BACK</a>
                                                                                                </td>
                                                                                                <td align="right" style="font-family:'Josefin Sans', Arial, Helvetica, sans-serif; font-size:21px; color:#282828;">
                                                                                                    <a href="shipping_confirmation_1.html" style="color:#282828; text-decoration:none;">NEXT</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="25">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width:100%;background-color:#F4F4F4;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="center">
                    <table style="width:600px;" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td bgcolor="#282828" align="center">
                                    <table style="width:540px;" width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:15px;padding-right:15px;" align="center">
                                                    <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="width:540px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="25">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td width="80" align="left">
                                                                                                    <img width="80" style="display:block;width:100%;max-width:80px;" alt="img" src="http://emailmug.com/premium-template/emailpaws/notif/logo.png">
                                                                                                </td>
                                                                                                <td>&nbsp;</td>
                                                                                                <td align="right" style="font-family:'Open Sans', Arial, Helvetica, sans-serif; font-size:14px; color:#ffffff;">
                                                                                                    <a href="http://www.example.com" target="_blank" style="color:#ffffff; text-decoration:none;">Help Center</a>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="25">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table style="width:100%;background-color:#F4F4F4;" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td align="center">
                    <table style="width:600px;" width="600" cellspacing="0" cellpadding="0" border="0" align="center">
                        <tbody>
                            <tr>
                                <td bgcolor="#f6f6f4" align="center">
                                    <table style="width:540px;" width="540" cellspacing="0" cellpadding="0" border="0" align="center">
                                        <tbody>
                                            <tr>
                                                <td style="padding-left:15px;padding-right:15px;" align="center">
                                                    <table width="540" border="0" cellpadding="0" cellspacing="0" align="center" style="width:540px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <table border="0" width="100%" cellpadding="0" cellspacing="0" align="center" style="width:100%;">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td height="30">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img width="100" style="display:block;width:100%;max-width:100px;" alt="img" src="http://emailmug.com/premium-template/emailpaws/notif/cr.png">
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="20">&nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:'Roboto', Arial, Helvetica, sans-serif; font-size:16px; color:#333333; line-height:22px; text-align:center;">
                                                                                    <p style="margin:0;">Thank you for choosing our services. We are committed to providing you with the best experience.</p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="30">&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
