/* Add this CSS to your global styles or a Tailwind CSS file */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}


.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}
.customlink {
  color: #18696e;
}
.customlink:hover {
  text-decoration: underline;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
